#### 판다스 기초

In [1]:
import pandas as pd
import numpy as np

In [4]:
names = ['bob', 'jessica', 'marry', 'john']
births = ['20001010', '19990102', '18780928', '20030503']
custom = [1, 2, 3, 4, 5]

In [5]:
for imsi in zip(names, births):
    print(imsi)

('bob', '20001010')
('jessica', '19990102')
('marry', '18780928')
('john', '20030503')

In [6]:
babyDataSet = list(zip(names, births))
babyDataSet

[('bob', '20001010'),
 ('jessica', '19990102'),
 ('marry', '18780928'),
 ('john', '20030503')]

In [8]:
df = pd.DataFrame(data=babyDataSet, columns=['names', 'births'])
df.head()

     names    births
0      bob  20001010
1  jessica  19990102
2    marry  18780928
3     john  20030503

In [12]:
df = df.astype({'names': str, 'births' : np.float})

<ipython-input-12-0da70e42ff0a>:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df = df.astype({'names': str, 'births' : np.float})

In [14]:
df[df['births'] > 20000101]

  names      births
0   bob  20001010.0
3  john  20030503.0

#### 넘파이 기초